.header {
	@media (max-width: 425px) {
		display: none;
	}

	&__form-container {
		position: relative;
		height: 31rem;
		background-color: $main-red;
	}
	&__header {
		position: relative;

		color: $white;

		h1 {
			font-size: 5rem;
			font-weight: 400;
			z-index: 9000 !important;
		}

		p {
			font-size: 1.6rem;
			font-weight: 100;
			z-index: 9000 !important;
		}

		&::after {
			content: "";
			display: inline-block;
			height: 26rem;
			width: 29rem;
			background-image: url(assast/images/logo.jpg);
			filter: saturate(0.5);
			border-radius: 10px;
			position: absolute;
			top: -35px;
			left: -1rem;
		}
	}

	&__form {
		width: 100%;
	}

	&__select {
		width: 10%;
		height: 4.5rem;
		// padding-top: 2.5rem;
		// padding-bottom: 2.5rem;
	}

	&__input {
		width: 40%;
		height: 4.5rem;
		color: $main-gray;
		// padding-top: 2.5rem;
		// padding-bottom: 2.5rem;
	}

	&__submit {
		color: $main-gray;
		font-size: 1.2rem;
		background-color: $main-black;
	}

	&__slider {
		background-color: $white;
	}

	&__slider-container {
		height: 25rem;
		display: flex;
		align-items: center;
	}

	&__img-container {
		width: 100%;
	}

	&__img {
		width: 100%;
	}

	&__heading {
		font-size: 3rem;
		color: $main-red;
	}
}
