*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // 1rem = .625 * 16px (default user agent font size) = 10px
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	background-color: #fff;
}

main {
	display: block; // Render the `main` element consistently in IE.
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

ul {
	margin-bottom: 1rem;
	list-style: none;
}

ul ul {
	margin-bottom: 0;
}
