*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 50%; // For mobile : 1rem = .5 * 16px (default user agent font size) = 8px
	line-height: 1.15;

	@media (min-width:1080px) {
		font-size: 53%;
	}
}

body {
	background-color: #f4f4f4;
}

main {
	display: block; // Render the `main` element consistently in IE.
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

ul {
	margin-bottom: 1rem;
	list-style: none;
}

ul ul {
	margin-bottom: 0;
}
